doctype html
html
  head
    title= "Delivery Checker"
    link(rel="stylesheet" href="https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css")
    link(rel="stylesheet" href="https://unpkg.com/animate.css@3.5.2/animate.css" type="text/css")
    link(rel="stylesheet" href="https://unpkg.com/rmodal@1.0.28/dist/rmodal.css" type="text/css")
    link(rel='stylesheet' href='/stylesheets/style.css')
  body
    block content
    script(type="text/javascript" src="https://unpkg.com/rmodal@1.0.26/dist/rmodal.js")
    script(src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous")
    script(type="text/javascript" src="javascripts/javascript.js")
    script(type="text/javascript" src="javascripts/mapclick.js")